@font-face {
    font-family: "NexaLight";
    src: url("NexaLight.otf");
}

@font-face {
    font-family: "NexaBold";
    src: url("NexaBold.otf");
}

body {
	margin: 0;
	padding: 0;
	color: #333;
	font-family: "NexaLight";
}

.navbar {
	background-color: #333;
	color: #f0f0f0;
	padding: 15px;
	position: fixed;
	width: 100%;
}

.navbar a {
	color: #f0f0f0;
	letter-spacing: 1.5;
}

.item {
	margin-right: 60px;
}

.header {
	background-color: #F0F0F0;
	font-family: "NexaBold";
	font-size: 50px;
	text-align: center;
	letter-spacing: 10px;
	padding: 120px 0 70px;
}

.section {
	padding: 35px 70px;
	font-family: sans-serif;
	letter-spacing: .8px;
	margin: auto;
}

.footer {
	padding-top: 30px;
	text-align: center;
	font-size: 12px;
}

img, .text {
	float: left;
}
.text {
	padding: 25px;
	letter-spacing: .8px;
	line-height: 25px;
	max-width: 500px;
}

.blueColor {
	color: #61D2D6;
}